<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core">


    <div id="layout-topbar" class="ShadowGray">
    	<div id="layout-topbar-indent">
            <h:outputLink id="hederLink" value="#{request.contextPath}">
                <!--<h:graphicImage name="Iceberg_logo.png" styleClass="Fleft" library="logo" id="logo" class="Fleft" alt="Iceberg"/>-->
                <h2>Accountability Partner</h2>
            </h:outputLink>
            <!--<a href="#" id="mobile-menu-button" class="BordRad3 white ShowOnMobile"><i class="fa fa-bars" /> Menu</a>-->
            <!--<a href="#" id="mobile-menu-button-gray" class="BordRad3 white ShowOnMobile"><i class="fa fa-caret-down" /> Top Menu</a>-->

            <!--<ul id="layout-topbar-menu">
                <li>
                    <a href="#" class="Animated05" tabindex="-1">
                        <i class="fa fa-info-circle"/>
                    </a>
                    <ul style="margin-left:-10px;" class="Animated03 submenu">
                        <li>
                            <a href="https://wiki.ith.intel.com/display/3DPerfVal/Iceberg" class="Animated05" target="_blank">
                                <i class="fa fa-wikipedia-w" /> Wiki</a>
                        </li>
                    </ul>
                </li>
                <li class="fa fa-ellipsis-v menu-separator" />
                <li>
                    <a class="Animated05 CursPointer" tabindex="-1">
                        <i class="fa fa-user"/>
                        <h:outputText value=" #{not empty request.userPrincipal.name ? ''.concat(request.userPrincipal.name).concat(', ') : ''}Welcome"/>
                        <i class="fa fa-chevron-down Fs14 Fright ShowOnMobile"/>
                    </a>
                    <ul style="width:175px; margin-left:-10px;" class="Animated03 submenu">
                        <li>
                            <h:link class="Animated05" outcome="user">
                                <i class="fa fa-user-circle"/> My Profile
                            </h:link>
                        </li>
                        <li>
                            <a href="https://gta.intel.com/login?url=iceberg" class="Animated05">
                                <i class="fa fa-sign-out" /> Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="fa fa-ellipsis-v menu-separator"/>
                <li class="select-one-menu-in-topbar">
                    <h:form id="topbar">
                        <p:selectOneMenu value="#{pageBean.template}">
                            <f:selectItems value="#{pageBean.presentableTemplates}" var="template"
                                           itemLabel="#{template.template.businessGroup}" itemValue="#{template.template}" itemDisabled="#{template.disabled}"/>
                            <f:converter binding="#{templateConverter}"/>
                            <p:ajax event="change" listener="#{pageBean.navigate}"/>
                        </p:selectOneMenu>
                    </h:form>
                </li>
                <li class="fa fa-ellipsis-v menu-separator"/>
                <li>
                    <a class="Animated05">
                        <h:outputText value="#{timeBean.formattedCurrentDate}"/>
                    </a>
               </li>
            </ul>-->
        </div>
    </div>

</ui:composition>
